* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(240,248,255);
}
table {
    margin: 20px auto;
}
h1, h2 {
    margin-top: 20px;
    text-align: center;
}

table, thead, tbody, th, tr, td {
    border: 1px solid rgb(105,105,105)
}
tbody {
    background-color: rgb(245,245,220);
}
thead {
    background-color: rgb(47,79,79);
}
th {
    color: white;
}